# each portion of tensorflow is needed	# each portion of tensorflow is needed
# core package is for RNN, cpu and gpu are for specific system speed-ups	# core package is for RNN, cpu and gpu are for specific system speed-ups
tensorflow==1.14.0	tensorflow==2.7.2
# tensorflow-cpu==1.15	# tensorflow-cpu==1.15
# tensorflow-gpu==1.15	# tensorflow-gpu==1.15
umap-learn	umap-learn
visdom	visdom
librosa>=0.5.1	librosa>=0.5.1
matplotlib>=2.0.2	matplotlib>=2.0.2
numpy>=1.14.0	numpy>=1.14.0
scipy>=1.0.0	scipy>=1.0.0
tqdm	tqdm
sounddevice	sounddevice
Unidecode	Unidecode
inflect	inflect
PyQt5	PyQt5
multiprocess	multiprocess
numba==0.48	numba==0.48
